@page { margin: 0 }
body { margin: 0; font-size:10px;font-family: monospace;}
td { font-size:10px; }
.sheet {
  margin: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  page-break-after: always;
}

/** Paper sizes **/
body.struk        .sheet { width: 58mm; }
body.struk .sheet        { padding: 2mm; }

.txt-left { text-align: left;}
.txt-center { text-align: center;}
.txt-right { text-align: right;}

/** For screen preview **/
@media screen {
  body { background: #e0e0e0;font-family: monospace; }
  .sheet {
    background: white;
    box-shadow: 0 .5mm 2mm rgba(0,0,0,.3);
    margin: 5mm;
  }
}

/** Fix for Chrome issue #273306 **/
@media print {
    body { font-family: monospace; }
    body.struk                 { width: 58mm; text-align: left;}
    body.struk .sheet          { padding: 2mm; }
    .txt-left { text-align: left;}
    .txt-center { text-align: center;}
    .txt-right { text-align: right;}
}
